<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="http://www.028studio.com/028/Questions/" title="">
        <img src="./images/logo_6.png" width="127" height="128" alt=""><strong>常见问题</strong><span>Questions</span></a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<section id="content">
  <div class="wrapper">
    <div class="contentbar">
      <form name="formsearch" action="http://www.028studio.com/plus/search.php" id="search">
        <input type="hidden" name="kwtype" value="0">
        <input type="text" name="q" id="keywords" autocomplete="off" value="在这里搜索..." required="" x-webkit-speech="" x-webkit-grammar="builtin:translate" lang="zh-CN">
        <input type="submit" id="submit" value="搜 索">
      </form>
      <div class="clear"></div>
      <article>
        <h1 id="title">
          <span>UPTATED:2014-04-23 <a href="http://www.028studio.com/028/Questions/" title="常见问题">返回列表</a></span>手机网站和普通网站有什么区别呢？
        </h1>

        <div id="info">
          <div>
            &nbsp; &nbsp; 1.访问入口不同
          </div>
          <div>
            &nbsp; &nbsp;一般、如果你要上网、你采用的方法觉对是去网吧（相信大部分人是不是在家上网的）。但是由于手机的普及和手机上网应用的越来越便捷化，人们对手机上网的频率也越来越高。和传统的上网方式相比、手机上网拥有更便捷的方式，摆脱了时间和空间的限制。在这个方面，手机上网入口更简单，一个手机快捷键就可以轻松搞定。
          </div>
          <div>
            &nbsp;</div>
          <div>
            &nbsp; &nbsp; 2.浏览方式不同
          </div>
          <div>
            &nbsp; &nbsp;
            普通的网页浏览方式比手机拥有更强的的展示能力，能通过图片、视频、语音等等形式全方位的表达。但是手机网页由于限制于屏幕的尺寸更多的用文章的表现形式，也不利于快速的浏览网站内容，网页网站可以更好的引导我们的访客进行网站的浏览。
          </div>
          <div>
            &nbsp;</div>
          <div>
            &nbsp; &nbsp; 3.传播方式的不同
          </div>
          <div>
            &nbsp; &nbsp; 网页网站由于其浏览的易读性，可以形成很好的互动。但是，同样的事情放在手机上面其互动能力就会下降很多，究其原因是来自手机打字的麻烦。
          </div>
          <div>
            &nbsp;</div>
          <div>
            &nbsp; &nbsp; 4.开发语言不同 &nbsp;</div>
          <div>
            &nbsp; &nbsp; 手机网站是用wml语言写的；电脑网站是html语言写的。再说一般现在都不用wml、wap都没人用的技术了~手机跟PC没有什么区别、最大的就是不同点是页面大小、布局不同。
          </div>
        </div>
      </article>
    </div>
    <div class="sidebar">
      <h3 class="cat_title">您可能感兴趣的！</h3>
      <h5><a href="http://www.028studio.com/028/Questions/239.html" title="网站建设的服务器空间选择的问题">网站建设的服务器空间选择的问题</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/238.html" title="成都做网站设计专业的重要性">成都做网站设计专业的重要性</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/237.html" title="成都做网站到底要多少钱呢？">成都做网站到底要多少钱呢？</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/236.html" title="如何提高网站的效率">如何提高网站的效率</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/235.html" title="网站是企业向公众提供信息的重要方式">网站是企业向公众提供信息的重要方式</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/234.html" title="成都企业建设网站一般会遇到的两大问题">成都企业建设网站一般会遇到的两大问题</a>
      </h5>
      <h5><a href="http://www.028studio.com/028/Questions/232.html" title="网站设计需要尽量遵循用户体验">网站设计需要尽量遵循用户体验</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/231.html" title="做网站前需要考虑的四个问题">做网站前需要考虑的四个问题</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/230.html" title="网站建设好后，后台需要有哪些功能？">网站建设好后，后台需要有哪些功能？</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/229.html" title="企业想要的是什么样的网站">企业想要的是什么样的网站</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/228.html" title="判断网站好坏的五大标准">判断网站好坏的五大标准</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/227.html" title="网站命名时需要考虑的五个方面">网站命名时需要考虑的五个方面</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/226.html" title="如何找来源更新自己的网站">如何找来源更新自己的网站</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/225.html" title="设计网站过程中应该注意的四个原则">设计网站过程中应该注意的四个原则</a></h5>
      <h5><a href="http://www.028studio.com/028/Questions/224.html" title="模板网站与定制网站的差别">模板网站与定制网站的差别</a></h5>

    </div>
    <div class="clear"></div>
  </div>
</section>
</body>
<%= render "comment/footer" %>