<section id="banner">
  <ul id="banner_img">
    <li style="display: block;">
      <div class="wrapper">
        <div style="top: 110px; opacity: 1;" class="ad_txt">
          <h2>微站时代来临</h2>

          <p style="padding-top: 0px; padding-bottom: 0px;">智能手机、平板电脑<br>
            2014您的网站触手可及了吗？
          </p>
          <a href="http://weixin.028studio.com/" target="_blank">点击查看详情&gt;</a>
        </div>
        <div style="right: 10px; opacity: 1;" class="ad_img">
          <img src="images/banner1.png" alt="微站时代来临" height="393" width="753">
        </div>
      </div>
    </li>

  </ul>
  <div id="banner_ctr">
    <div style="left: 6px;" id="drag_ctr"></div>
    <ul>
      <li>微站时代来临</li>
    </ul>
    <div style="left: 6px;" id="drag_arrow"></div>
  </div>
</section>
<section id="service">
  <ul>
    <li class="">
      <a href="http://www.028studio.com/028/SERVICES/" title="网站建设/网站设计">
        <h3 class="website">网站建设</h3>

        <p>028能够帮您搭建适应各种设备及浏览器访问、针对主流搜索引擎优化、用户体验良好的网站。
          深入剖析企业需求，致力于树立良好的企业品牌形象，完善企业对内外的传播需求。积极协助企业找到发展战略核心，从战略的角度树立企业的品牌形象。</p>
      </a>
    </li>
    <li>
      <a href="http://weixin.028studio.com/" title="微信公众平台开发" target="_blank">
        <h3 class="weixin">微信 / 微站</h3>

        <p>做完网站就够了吗？网站推广的意义等同于广告！成千上万的同行网站，让客户立刻找到你！点击免费，提高网站在所有搜索引擎的排名</p>
      </a>
    </li>
    <li class="cur">
      <a href="http://www.028studio.com/028/SERVICES/" title="网站推广/网站优化">
        <h3 class="seo">网站推广</h3>

        <p>微信从2011年1月21日推出到现在短短2年多时间,用户数量达5亿.可见微信的发展速度,微信正改变我们的移动营销方式.</p>
      </a>
    </li>
    <li style="left: 738px;" class="arrow"></li>
  </ul>
</section>

<section id="caseslist">
  <ul class="cases">
    <li>
      <a href="http://www.028studio.com//028/Cases/" title="成都网站建设成功案例"><img src="images/icase_t.gif" alt="成都网站建设成功案例"></a>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/140520/2-14052014263E57.jpg" alt="福美来石材">

      <p>
        <a href="http://www.028studio.com/028/CASES/287.html" title="福美来石材">福美来石材</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140516/2-1405161533280-L.jpg" alt="艾团网">

      <p>
        <a href="http://www.028studio.com/028/CASES/286.html" title="艾团网">艾团网</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140515/2-1405151G1460-L.jpg" alt="创想青年俱乐部">

      <p>
        <a href="http://www.028studio.com/028/CASES/285.html" title="创想青年俱乐部">创想青年俱乐部</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101233120-L.jpg" alt="四川中喻建设集团有限公司">

      <p>
        <a href="http://www.028studio.com/028/CASES/87.html" title="四川中喻建设集团有限公司">四川中喻建设集团有限公司</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101229280-L.jpg" alt="爱恋珠宝">

      <p>
        <a href="http://www.028studio.com/028/CASES/86.html" title="爱恋珠宝">爱恋珠宝</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101224450-L.jpg" alt="优筑科技住宅">

      <p>
        <a href="http://www.028studio.com/028/CASES/85.html" title="优筑科技住宅">优筑科技住宅</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101159140-L.jpg" alt="亨利与薇薇安">

      <p>
        <a href="http://www.028studio.com/028/CASES/83.html" title="亨利与薇薇安">亨利与薇薇安</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101235430-L.jpg" alt="燕园考研">

      <p>
        <a href="http://www.028studio.com/028/CASES/88.html" title="燕园考研">燕园考研</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101155170-L.jpg" alt="金立方珠宝">

      <p>
        <a href="http://www.028studio.com/028/CASES/82.html" title="金立方珠宝">金立方珠宝</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101211130-L.jpg" alt="金丝楠乌木博物馆">

      <p>
        <a href="http://www.028studio.com/028/CASES/84.html" title="金丝楠乌木博物馆">金丝楠乌木博物馆</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101122370-L.jpg" alt="四川方略工程管理咨询有限公司">

      <p>
        <a href="http://www.028studio.com/028/CASES/79.html" title="四川方略工程管理咨询有限公司">四川方略工程管理咨询有限公司</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101151000-L.jpg" alt="青城山味江陵园">

      <p>
        <a href="http://www.028studio.com/028/CASES/81.html" title="青城山味江陵园">青城山味江陵园</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101054130-L.jpg" alt="红酒名庄第一品牌网中秋改版">

      <p>
        <a href="http://www.028studio.com/028/CASES/76.html" title="红酒名庄第一品牌网中秋改版">红酒名庄第一品牌网中秋改版</a>
      </p>
    </li>
    <li class="item1">
      <img src="images/case.png" data-original="http://www.028studio.com/uploads/allimg/140307/1-14030G422530-L.jpg" alt="广田华南装饰">

      <p>
        <a href="http://www.028studio.com/028/CASES/75.html" title="广田华南装饰">广田华南装饰</a>
      </p>
    </li>

  </ul>
</section>
<section id="news">
  <div class="newsdata">
    <div class="questionlist">
      <h2 class="cat_title"><span><a href="http://www.028studio.com/028/NEWS/" class="more">MORE+</a></span>新闻中心</h2>

      <div class="clear"></div>
      <ul>
        <li><a href="http://www.028studio.com/028/NEWS/288.html" title="2014年端午节放假通知" target="_blank">· 2014年端午节放假通知</a>
        </li>
        <li><a href="http://www.028studio.com/028/NEWS/284.html" title="2014年五一节放假通知" target="_blank">· 2014年五一节放假通知</a>
        </li>
        <li><a href="http://www.028studio.com/028/NEWS/283.html" title="招聘：DIV+CSS+JQ 前端开发" target="_blank">·
          招聘：DIV+CSS+JQ 前端开发</a></li>
        <li><a href="http://www.028studio.com/028/NEWS/281.html" title="028微站平台-优先推出刮刮卡积分抽奖" target="_blank">·
          028微站平台-优先推出刮刮卡积分抽奖</a></li>
        <li><a href="http://www.028studio.com/028/NEWS/279.html" title="028微站平台-DIY投票系统正式上线" target="_blank">·
          028微站平台-DIY投票系统正式上线</a></li>
        <li><a href="http://www.028studio.com/028/NEWS/278.html" title="2014年清明节放假通知" target="_blank">· 2014年清明节放假通知</a>
        </li>
        <li><a href="http://www.028studio.com/028/NEWS/276.html" title="028微信平台正式启动" target="_blank">· 028微信平台正式启动</a>
        </li>
        <li><a href="http://www.028studio.com/028/NEWS/275.html" title="028全体同仁祝您元宵节 / 情人节快乐！" target="_blank">·
          028全体同仁祝您元宵节 / 情人节快乐！</a></li>
        <li><a href="http://www.028studio.com/028/NEWS/274.html" title="你好，2014" target="_blank">· 你好，2014</a></li>
        <li><a href="http://www.028studio.com/028/NEWS/273.html" title="2014年春节放假通知" target="_blank">· 2014年春节放假通知</a>
        </li>

      </ul>
    </div>
    <div id="newsbox">
      <h2 class="cat_title"><span><a href="http://www.028studio.com/028/Questions/" class="more">MORE+</a></span>常见问题
      </h2>
      <ul>
        <li>

          <div class="newslist">
            <a href="http://www.028studio.com/028/Questions/282.html" title="手机网站和普通网站有什么区别呢？">手机网站和普通网站有什么区别呢？</a>
            <span>UPTATED:2014-04-23</span>

            <p>1.访问入口不同 一般、如果你要上网、你采用的方法觉对是去网吧（相信大部分人是不是在家上网的）。但是由于手机的普及和手机上...</p>
          </div>
        </li>
        <li>
          <a href="http://www.028studio.com/028/Questions/176.html" target="_blank">
            <img src="images/gray.png" data-original="http://www.028studio.com/uploads/allimg/140312/13423R2Z-0-lp.jpg" width="90">
          </a>

          <div class="newslist">
            <a href="http://www.028studio.com/028/Questions/176.html" title="微网站能做什么？">微网站能做什么？</a>
            <span>UPTATED:2014-03-12</span>

            <p>展示企业形象 微站是企业在移动互联网时代完美展示企业及品牌形象的最佳选择，表现内容丰富、实时更新、形式多样化，保证品牌形...</p>
          </div>
        </li>
        <li>
          <a href="http://www.028studio.com/028/Questions/175.html" target="_blank">
            <img src="images/gray.png" data-original="http://www.028studio.com/uploads/allimg/140312/13405043C-0-lp.jpg" width="90">
          </a>

          <div class="newslist">
            <a href="http://www.028studio.com/028/Questions/175.html" title="为什么需要微站 / 微网站？">为什么需要微站 / 微网站？</a>
            <span>UPTATED:2014-02-17</span>

            <p>适合手机访问 移动互联网时代的来临，好比一场随风潜入夜，润物细无声的春雨，悄然改变着我们的生活方式，越来越多人习惯使用手...</p>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="clear"></div>
</section>
<%= render "comment/footer" %>

