<div id="header">
  <h1><a class="logo" title="logo" href="http://www.zhenbaren.com/">Logo</a></h1>

  <div id="topright">
    <ul id="nav" class="clearfix">
      <li><a title="长春车生活" href="http://www.changchunche.com/">长春车生活官网</a></li>
      <li><a title="长春车生活论坛" href="http://bbs.changchunche.com/">长春车生活论坛</a></li>

      <li>
        <a class="header-new" title="商户联盟" href="http://www.zhenbaren.com/" target="_blank">商户联盟
          <img src="/images/cccshabout/new_3.gif" width="11" height="12">
        </a>
      </li>
      <li><a title="使用帮助" href="http://bbs.changchunche.com/misc.php?mod=faq">使用帮助</a></li>
      <li><a title="长春车生活官方" href="http://www.changchunche.com/" target="_blank">技术支持</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>