<footer>
  <div id="footerinfo">
    <div class="wrapper">
      <div class="adrtel">
        <a href="#" class="tel">咨询电话：4008-455-789 </a>办公地址：长春市南关区解放大路与平阳街交汇<a href="http://j.map.baidu.com/AZsfr">【地图查询】</a>
      </div>
      <p>Copyright &#169; 2011-2014 www.pxwgj.com .All Rights Reserved. 朋兴微管家 版权所有.
        <a href="http://www.ccpxcm.com/" title="朋兴文化传媒有限公司" target="_blank">朋兴文化传媒有限公司</a>
        <a href="http://www.ccpxcm.com/ours/elite_team" title="朋兴做网站" target="_blank"> 朋兴专业团队 </a>
        <a href="http://www.pxwgj.com/services/marketing/" title="朋兴网站推广" target="_blank">朋兴网站推广</a>
        <script language="javascript" type="text/javascript" src="../javascripts/4713898.js"></script>
      </p>

      <img src="../images/foot_map.png" id="homemap" alt="长春朋兴文化传媒有限公司地理位置" height="156" width="208">

      <div class="links">
        <p> 友情链接：</p>
        <li><a href="http://www.ccpxcm.com/" target="_blank">长春朋兴文化传媒有限公司</a></li>
        <li><a href="http://www.xinxiaowei.cn/" target="_blank">新校尉美术艺术培训基地</a></li>
        <em>
          朋兴-<a href="http://www.pxwgj.com/" target="_blank" title="朋兴网站建设">网站建设</a>
          高端品牌！ 三年<a href="http://www.pxwgj.com/" target="_blank" title="朋兴网站建设公司">朋兴网站建设公司</a>
          运营经验、企业<a href="http://www.pxwgj.com/" title="品牌网站建设">品牌网站建设</a>
          经验；欢迎<a href="http://www.pxwgj.com/" title="网站建设">网站建设公司</a>
        </em>

        <p></p>
      </div>
    </div>
  </div>
</footer>
<div id="service2">
  <a class="srvCns" href="<%= contact_index_path %>" target="_blank">朋兴在线咨询</a>
  <a class="goTop" id="goTop" title="返回顶部" style="display:none">返回顶部</a>
</div>

<!-- /footer -->
<script type="text/javascript" src="../javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../javascripts/jquery.plugin.min.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="../javascripts/killie6.js"></script>
<![endif]-->
<script type="text/javascript">
    //<![CDATA[
    <!--首页 -->
    $('.ad_img,#banner_ctr,.logo').pngFix();
    //Banner Start
    var curIndex = 0;
    var time = 800;
    var slideTime = 5000;
    var adTxt = $("#banner_img>li>div>.ad_txt");
    var adImg = $("#banner_img>li>div>.ad_img");
    var int = setInterval("autoSlide()", slideTime);

    $("#banner_ctr>ul>li[class!='first-item'][class!='last-item']").click(function () {
        show($(this).index("#banner_ctr>ul>li[class!='first-item'][class!='last-item']"));
        window.clearInterval(int);
        int = setInterval("autoSlide()", slideTime);
    });

    function autoSlide() {
        curIndex + 1 >= $("#banner_img>li").size() ? curIndex = -1 : false;
        show(curIndex + 1);
    }
    function show(index) {
        $.easing.def = "easeOutQuad";
        $("#drag_ctr,#drag_arrow").stop(false, true).animate({left: index * 24 + 6}, 300);
        $("#banner_img>li").eq(curIndex).stop(false, true).fadeOut(time);
        adTxt.eq(curIndex).stop(false, true).animate({top: "340px"}, time);
        adImg.eq(curIndex).stop(false, true).animate({right: "120px"}, time);
        setTimeout(function () {
            $("#banner_img>li").eq(index).stop(false, true).fadeIn(time);
            adTxt.eq(index).children("p").css({paddingTop: "50px", paddingBottom: "50px"}).stop(false, true).animate({paddingTop: "0", paddingBottom: "0"}, time);
            adTxt.eq(index).css({top: "0", opacity: "0"}).stop(false, true).animate({top: "110px", opacity: "1"}, time);
            adImg.eq(index).css({right: "-50px", opacity: "0"}).stop(false, true).animate({right: "10px", opacity: "1"}, time);
        }, 200)
        curIndex = index;
    }
    //Banner End
    //Cases Start
    $("#caseslist>.cases>li").live({mouseenter: function () {
        $("p", this).stop(false, true).slideDown("normal", "easeOutQuad");
    }, mouseleave: function () {
        $("p", this).stop(false, true).slideUp("normal", "easeOutQuad");
    }});
    $("#caseslist>.cases>li>img,#newsbox>ul>li>a>img").lazyload({effect: "fadeIn", failurelimit: 10});
    //Cases End
    //nav start
    (function () {
        var nav = $("#service ul");
        var lis = nav.children("li");
        var arrow = $(".arrow").css("left");
        var speed = 300;
        var n = 0;
        //取cur位置
        for (var i = 0; i < lis.length; i++) {
            if (lis.eq(i).attr("class") == "cur") {
                n = i;
            }
        }
        lis.eq(0).hover(function () {
            $(".arrow").stop(true, true).animate({left: "0px"}, speed);
            lis.removeClass("cur");
            $(this).addClass("cur");
        })
        lis.eq(1).hover(function () {
            $(".arrow").stop(true, true).animate({left: "370px"}, speed);
            lis.removeClass("cur");
            $(this).addClass("cur");
        })
        lis.eq(2).hover(function () {
            $(".arrow").stop(true, true).animate({left: "738px"}, speed);
            lis.removeClass("cur");
            $(this).addClass("cur");
        })
        nav.mouseleave(function () {
            $(".arrow").stop(true, true).animate({left: arrow}, speed);
            lis.removeClass("cur");
            lis.eq(n).addClass("cur");
        })
    }())
    //]]>
</script>

