<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="./案例_零二八_files/案例_零二八.html" title="">
        <img src="./images/logo_3.png" width="127" height="128" alt=""><strong>案例</strong><span>CASES</span></a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<section id="caseslist">
  <div class="case_logo">
    <img src="./images/case_logo1.png">
    <img src="./images/case_logo2.png">
    <img src="./images/case_logo3.png">
  </div>
  <ul class="cases2 wrapper">
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/287.html" title="福美来石材">
        <img src="./images/2-14052014263E57.jpg" data-original="http://www.028studio.com/uploads/140520/2-14052014263E57.jpg" alt="福美来石材" style="display: inline;"></a>

      <p>福美来石材专注水泥基人造石研发、设计、生产、销售和服务为一体的专业化公司。</p>
      <a href="http://www.028studio.com/028/CASES/287.html"><strong>福美来石材</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/286.html" title="艾团网">
        <img src="./images/2-1405161533280-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140516/2-1405161533280-L.jpg" alt="艾团网" style="display: inline;"></a>

      <p></p>
      <a href="http://www.028studio.com/028/CASES/286.html"><strong>艾团网</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/285.html" title="创想青年俱乐部">
        <img src="./images/2-1405151G1460-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140515/2-1405151G1460-L.jpg" alt="创想青年俱乐部" style="display: inline;"></a>

      <p>创想青年俱乐部是一个为杰出青年人士而设的民间非盈利性组织。以提升青年人领导才能、社会责任感及建立商务网络。俱乐部宗旨：共同拓宽视野，提升个人能力，增进友谊，贡献于社会。</p>
      <a href="http://www.028studio.com/028/CASES/285.html"><strong>创想青年俱乐部</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/87.html" title="四川中喻建设集团有限公司">
        <img src="./images/1-1403101233120-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101233120-L.jpg" alt="四川中喻建设集团有限公司" style="display: inline;"></a>

      <p></p>
      <a href="http://www.028studio.com/028/CASES/87.html"><strong>四川中喻建设集团有限公司</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/86.html" title="爱恋珠宝">
        <img src="./images/1-1403101229280-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101229280-L.jpg" alt="爱恋珠宝" style="display: inline;"></a>

      <p>四川省爱恋珠宝有限公司是一家集原料采购、研发设计、生产、品牌运营及终端零售为一体的大型珠宝连锁企业。21世纪初，爱恋经过雄厚的原始资本积累，整合西南珠宝市场，联合东南珠宝、南亚珠宝、东华珠宝、福建金店等...</p>
      <a href="http://www.028studio.com/028/CASES/86.html"><strong>爱恋珠宝</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/85.html" title="优筑科技住宅">
        <img src="./images/1-1403101224450-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101224450-L.jpg" alt="优筑科技住宅" style="display: inline;"></a>

      <p>优筑健康科技住宅品牌是北京辐通迅捷系统集成技术有限公司经过多年在住宅环境领域的积累和沉淀，在国内率先提出健康科技住宅概念，立足于把国内外最先进的理念、技术和解决方案与国内住宅的实际状况结合起来，成为国...</p>
      <a href="http://www.028studio.com/028/CASES/85.html"><strong>优筑科技住宅</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/83.html" title="亨利与薇薇安">
        <img src="./images/1-1403101159140-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101159140-L.jpg" alt="亨利与薇薇安" style="display: inline;"></a>

      <p>每一步足迹都装载着一段我们短暂人生的珍贵记忆，时光如梭，趁我们尚未老去，背上行囊，一起出发吧！</p>
      <a href="http://www.028studio.com/028/CASES/83.html"><strong>亨利与薇薇安</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/88.html" title="燕园考研">
        <img src="./images/1-1403101235430-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101235430-L.jpg" alt="燕园考研" style="display: inline;"></a>

      <p>燕园教育是当今国内教育培训领域的一家老字号机构，她的前身就是由一群北京大学在职教职人员创立于1998年，注册地址在北京大学校内的北大燕园培训学校。自创立之初起，以北京大学这所百年名校悠久的历史、优良的学术...</p>
      <a href="http://www.028studio.com/028/CASES/88.html"><strong>燕园考研</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/82.html" title="金立方珠宝">
        <img src="./images/1-1403101155170-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101155170-L.jpg" alt="金立方珠宝" style="display: inline;"></a>

      <p>金立方珠宝有限公司创立于2010年，位于中国西部中心城市成都，占据天府广场西南珠宝首饰集散地的核心位置，交通便利。经营黄金、铂金、钻石、彩宝、翡翠、镶嵌等多类品种，是一家集设计研发、生产加工、批发零售为一...</p>
      <a href="http://www.028studio.com/028/CASES/82.html"><strong>金立方珠宝</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/84.html" title="金丝楠乌木博物馆">
        <img src="./images/1-1403101211130-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101211130-L.jpg" alt="金丝楠乌木博物馆" style="display: inline;"></a>

      <p>成都诚林金丝楠乌木博物馆是一家具有中国传统文化特色的金丝楠乌木工艺品私立博物馆。成立于 2012 年，是以研究乌木文化、保护、进行乌木家具和工艺品创作和收藏的公益性金丝楠主题民办博物馆，现有藏品千余件，位居...</p>
      <a href="http://www.028studio.com/028/CASES/84.html"><strong>金丝楠乌木博物馆</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/79.html" title="四川方略工程管理咨询有限公司">
        <img src="./images/1-1403101122370-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101122370-L.jpg" alt="四川方略工程管理咨询有限公司" style="display: inline;"></a>

      <p>四川方略工程管理咨询有限公司（Sichuan Fontal Strategic-Consulting Co.,
        Ltd.）专业从事工程建设中的社会评估及管理咨询工作，作为独立第三方为国际金融组织、外资银行、政府、企业提供全方位的咨询服务和问题解...</p>
      <a href="http://www.028studio.com/028/CASES/79.html"><strong>四川方略工程管理咨询有限公司</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/81.html" title="青城山味江陵园">
        <img src="./images/1-1403101151000-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101151000-L.jpg" alt="青城山味江陵园" style="display: inline;"></a>

      <p>在幽甲天下的道教圣地、号称天下第五名山的青城山后山，有块被称为虎踞龙盘，金鞭护佑的宝地。这，便是青城山味江陵园。 相传古蜀王杜宇祭酒时染甜的味江宛如玉带缠腰，从陵园前绕过，陵园正对青城山著名景观金鞭岩...</p>
      <a href="http://www.028studio.com/028/CASES/81.html"><strong>青城山味江陵园</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/76.html" title="红酒名庄第一品牌网中秋改版">
        <img src="./images/1-1403101054130-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101054130-L.jpg" alt="红酒名庄第一品牌网中秋改版" style="display: inline;"></a>

      <p>这是与慕菲商贸公司的第四次合作。在历时1年10个月后，www.mfwine.cn结合现下流行趋势、用户体验习惯等于2013年中秋前改版成功。</p>
      <a href="http://www.028studio.com/028/CASES/76.html"><strong>红酒名庄第一品牌网中秋改版</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/75.html" title="广田华南装饰">
        <img src="./images/1-14030G422530-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140307/1-14030G422530-L.jpg" alt="广田华南装饰" style="display: inline;"></a>

      <p>成都市广田华南装饰工程有限公司，其前身为成都市华南建筑装饰有限公司，成立于一九八六年，是国家审定的壹级建筑装饰企业，并通过ISO9001、2000质量、环境、职业健康体系认证，同时也是四川省民营企业中首批荣获一...</p>
      <a href="http://www.028studio.com/028/CASES/75.html"><strong>广田华南装饰</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/280.html" title="成都金汀金属制品有限公司">
        <img src="./images/1-1404151I9230-L.jpg" data-original="http://www.028studio.com/uploads/allimg/140415/1-1404151I9230-L.jpg" alt="成都金汀金属制品有限公司" style="display: inline;"></a>

      <p>成都金汀金属制品有限公司隶属于四川爱心集团，主要生产、加工不锈钢及天然透光大理石产品。</p>
      <a href="http://www.028studio.com/028/CASES/280.html"><strong>成都金汀金属制品有限公司</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/74.html" title="婴爱成长">
        <img src="./images/case.png" data-original="http://www.028studio.com/uploads/allimg/140307/1-14030G406300-L.jpg" alt="婴爱成长"></a>

      <p>成都婴爱成长家政服务有限公司是一家专业从事母婴护理的服务机构，是中国家政服务行业协会及成都家政服务行业协会会员单位。公司拥有一批资深的母婴护理、妇幼保健顾问，以及一支富有爱心、经验丰富的高素质母婴护理...</p>
      <a href="http://www.028studio.com/028/CASES/74.html"><strong>婴爱成长</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/77.html" title="英中财商教育咨询(成都)有限公司">
        <img src="./images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101105430-L.jpg" alt="英中财商教育咨询(成都)有限公司"></a>

      <p>英中财商的LOGO构成：狮子，天平，皇冠，盾牌 狮子：丛林之王是古老贵族的象征。中世纪的欧洲，特别在英国，皇室贵族才可以用狮子的图形。这也代表了我们英中财商是源自英国纯正贵族血统的教育机构。 天平：代表的是...</p>
      <a href="http://www.028studio.com/028/CASES/77.html"><strong>英中财商教育咨询(成都)有限公司</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/72.html" title="嘉盛材料有限公司">
        <img src="./images/case.png" data-original="http://www.028studio.com/uploads/allimg/140307/1-14030G352560-L.jpg" alt="嘉盛材料有限公司"></a>

      <p>中山市嘉盛材料有限公司座落与小榄镇九州基兴隆工业区，专业生产各类装饰板材。自公司成立有近20年历史，有着丰富的板材制作经验，产品畅销海内外，受到各界人士的认可与支持并推动公司不断创新与发展。现阶段公司研...</p>
      <a href="http://www.028studio.com/028/CASES/72.html"><strong>嘉盛材料有限公司</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/71.html" title="中山市嘉盛装饰材料有限公司">
        <img src="./images/case.png" data-original="http://www.028studio.com/uploads/allimg/140307/1-14030G224520-L.jpg" alt="中山市嘉盛装饰材料有限公司"></a>

      <p>中山市嘉盛装饰材料有限公司主要经营和销售各种建筑装饰板材，拥有将近20年的板材生产经验。公司于1994年由赵卫国先生成立，坐落于广东省中山市小榄镇，本着以自主创新的思维不断研发新产品，经过将近20年的发展，如...</p>
      <a href="http://www.028studio.com/028/CASES/71.html"><strong>中山市嘉盛装饰材料有限公司</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/78.html" title="爱心婚庆">
        <img src="./images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101116000-L.jpg" alt="爱心婚庆"></a>

      <p>每一对新人都有自己的故事，每一场婚礼都将成为唯一。婚礼不仅仅是一种仪式，更是值得珍藏一生的回忆。 置身制作独具个人风格的婚纱摄影专辑，让您的照片丰富多元化，专业理念拍摄手法，让您成为与众不同的最佳男女...</p>
      <a href="http://www.028studio.com/028/CASES/78.html"><strong>爱心婚庆</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/68.html" title="芙蓉新娘">
        <img src="./images/case.png" data-original="http://www.028studio.com/uploads/allimg/140307/1-14030G139560-L.jpg" alt="芙蓉新娘"></a>

      <p>成都芙蓉新娘:天府之国，巴蜀人家；芙蓉新娘；一个美丽的名字；一个屡获殊荣的全国十大婚礼品牌机构；一个历经七年锤炼的婚庆品牌；一个充满希望的精锐团队；七年来，汗水与笑颜相伴，勤奋与创新相随</p>
      <a href="http://www.028studio.com/028/CASES/68.html"><strong>芙蓉新娘</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/67.html" title="中海鹤汇农业投资有限公司">
        <img src="./images/case.png" data-original="http://www.028studio.com/uploads/allimg/140307/1-14030G131550-L.jpg" alt="中海鹤汇农业投资有限公司"></a>

      <p>四川中海鹤汇农业投资有限公司成立于2011年9月，注册资金伍仟万元，属有限责任公司。公司以农产品气调库储藏、冷链配送、收购、储运、批发、零售为主营业务。是您从基地到餐桌的果蔬健康运营专家，下属有遂宁中海鹤...</p>
      <a href="http://www.028studio.com/028/CASES/67.html"><strong>中海鹤汇农业投资有限公司</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/80.html" title="美薇亭婚庆">
        <img src="./images/case.png" data-original="http://www.028studio.com/uploads/allimg/140310/1-1403101133410-L.jpg" alt="美薇亭婚庆"></a>

      <p>成都美薇亭婚庆策划网站在设计过程中兼并时尚与传统、整合东方与西方不同元素。烘托出浪漫的气息。</p>
      <a href="http://www.028studio.com/028/CASES/80.html"><strong>美薇亭婚庆</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/69.html" title="卧龙自然保护区">
        <img src="./images/case.png" data-original="http://www.028studio.com/uploads/allimg/140307/1-14030G154170-L.jpg" alt="卧龙自然保护区"></a>

      <p>西出成都，过都江堰，沿川藏公路蜿蜒蛇行，进入四川阿坝藏族羌族自治州的汶川县映秀镇境。只见高山峡谷间，激流清澈，两岸茂林苍翠，野花怒放令人神往这里就是卧龙</p>
      <a href="http://www.028studio.com/028/CASES/69.html"><strong>卧龙自然保护区</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/73.html" title="长松寺">
        <img src="./images/case.png" data-original="http://www.028studio.com/uploads/allimg/140307/1-14030G35G30-L.jpg" alt="长松寺"></a>

      <p>长松寺是经四川省民政厅批准的对外合法经营公墓，是通过ISO9001国际质量管理、ISO14001国际环境管理、OHSAS18000职业健康安全管理三体系认证单位。</p>
      <a href="http://www.028studio.com/028/CASES/73.html"><strong>长松寺</strong>
      </a>
    </li>
    <li class="item1">
      <a href="http://www.028studio.com/028/CASES/70.html" title="大学生新加坡实习就业服务中心">
        <img src="./images/case.png" data-original="http://www.028studio.com/uploads/allimg/140307/1-14030G203330-L.jpg" alt="大学生新加坡实习就业服务中心"></a>

      <p>大学生新加坡实习就业服务中心联合多家具有中国大使馆认证的新加坡劳务代理公司成立的一个对外交流服务平台。该平台旨在建立一个针对中国高校毕生生的出国就业综合性服务交流平台</p>
      <a href="http://www.028studio.com/028/CASES/70.html"><strong>大学生新加坡实习就业服务中心</strong>
      </a>
    </li>

    <div class="clear"></div>
  </ul>
</section>
</body>
<%= render "comment/footer" %>