<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="http://www.028studio.com/028/NEWS/" title=""><img src="./images/logo_5.png" width="127" height="128" alt=""><strong>新闻中心</strong><span>NEWS</span></a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<section id="content">
  <div class="wrapper">
    <div class="contentbar">
      <form name="formsearch" action="http://www.028studio.com/plus/search.php" id="search">
        <input type="hidden" name="kwtype" value="0">
        <input type="text" name="q" id="keywords" autocomplete="off" value="在这里搜索..." required="" x-webkit-speech="" x-webkit-grammar="builtin:translate" lang="zh-CN">
        <input type="submit" id="submit" value="搜 索">
      </form>
      <div class="clear"></div>
      <article>
        <h1 id="title">
          <span>UPTATED:2014-04-16 <a href="http://www.028studio.com/028/NEWS/" title="新闻中心">返回列表</a></span>028微站平台-优先推出刮刮卡积分抽奖
        </h1>

        <div id="info"><p>
          自从前段时间028微站平台积分兑换礼品上线后，此功能大受伙伴们好评，客户的使用也越来越普及了，大部分的应用场景是商家现场促销活动后吸纳了大量的关注量和微会员，后续推出商城购物换取会员积分、一战到底等活动吸引会员参加从而获得积分，并通过设定消费积分规则兑换礼品。此举成功地将粉丝与微网站活跃起来。</p>

          <p>
            现在开始微促销活动也可以通过积分来进行抽奖了。<br>
            商户做微网站的线上推广适当加入会员互动环节，通过微网站中的获得积分和使用积分环节结合起来推广，从而令会员不断点击微网站，提升会员的体验质量。<br>
            微站宝团队优先推出刮刮卡抽奖活动，通过管理后台勾选开启并制定相应积分规则便在手机端上可以实现了。</p>

          <p>
            <img alt="" border="0" hspace="0" src="./images/002R95X2-0.jpg"></p>

          <p>
            终端粉丝在手机上的操作逻辑如下：</p>

          <p>
            一、先登录会员中心，直接打开刮刮卡页面的话系统会提示登录会员，假如是认证过的服务号则不需要重复登录，系统会直接读取粉丝资料；</p>

          <p>
            <img alt="" border="0" hspace="0" src="./images/002R91W0-1.jpg"><br>
            <br>
            <img alt="" border="0" hspace="0" src="./images/002R94b7-2.jpg"><br>
            <br>
            二、登录会员后便可参加抽奖；</p>

          <p>
            <img alt="" border="0" hspace="0" src="./images/002R92291-3.jpg"></p>

          <p>
            三、在会员中心的积分记录查看积分使用记录</p>

          <p>
            <img alt="" border="0" hspace="0" src="./images/002Ra311-4.jpg"></p>
        </div>
      </article>
    </div>
    <div class="sidebar">
      <h3 class="cat_title">您可能感兴趣的！</h3>
      <h5><a href="http://www.028studio.com/028/NEWS/279.html" title="028微站平台-DIY投票系统正式上线">028微站平台-DIY投票系统正式上线</a></h5>
      <h5><a href="http://www.028studio.com/028/NEWS/276.html" title="028微信平台正式启动">028微信平台正式启动</a></h5>
      <h5><a href="http://www.028studio.com/028/NEWS/275.html" title="028全体同仁祝您元宵节 / 情人节快乐！">028全体同仁祝您元宵节 / 情人节快乐！</a>
      </h5>
      <h5><a href="http://www.028studio.com/028/NEWS/273.html" title="2014年春节放假通知">2014年春节放假通知</a></h5>
      <h5><a href="http://www.028studio.com/028/NEWS/260.html" title="028春节放假安排">028春节放假安排</a></h5>
      <h5><a href="http://www.028studio.com/028/NEWS/256.html" title="即将推出“有问必答”互动项目">即将推出“有问必答”互动项目</a></h5>
      <h5><a href="http://www.028studio.com/028/NEWS/253.html" title="028急聘：网站二次开发程序员">028急聘：网站二次开发程序员</a></h5>
      <h5>
        <a href="http://www.028studio.com/028/NEWS/247.html" title="飞翔网页设计工作室抄袭我公司旗下网站（028工作室）">飞翔网页设计工作室抄袭我公司旗下网站（028工作室）</a>
      </h5>
      <h5>
        <a href="http://www.028studio.com/028/NEWS/246.html" title="dedefans工作室抄袭我公司旗下网站（028工作室）">dedefans工作室抄袭我公司旗下网站（028工作室）</a>
      </h5>
      <h5><a href="http://www.028studio.com/028/NEWS/22.html" title="成都零二八签约成都华翔电子科技有限公司">成都零二八签约成都华翔电子科技有限公司</a></h5>
      <h5><a href="http://www.028studio.com/028/NEWS/20.html" title="零二八签约成都模势力文化传播有限公司">零二八签约成都模势力文化传播有限公司</a></h5>
      <h5><a href="http://www.028studio.com/028/NEWS/19.html" title="零二八签约成都智卡科技有限公司">零二八签约成都智卡科技有限公司</a></h5>
      <h5><a href="http://www.028studio.com/028/NEWS/17.html" title="零二八签约简阳威利装饰材料有限公司">零二八签约简阳威利装饰材料有限公司</a></h5>

    </div>
    <div class="clear"></div>
  </div>
</section>
</body>
<%= render "comment/footer" %>