<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="./关于_零二八_files/关于_零二八.html" title="">
        <img src="./images/logo_1.png" width="127" height="128" alt=""><strong>关于</strong><span>ABOUT</span></a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<article>
  <div class="wrapper">
    <div class="about_l">
      <h1><img src="./images/about_03.JPG" alt="关于我们"></h1>
      <h6>成都零二八成立于2011年，专注于成都网站设计制作、网站推广SEO、网络营销、及空间、主机、域名服务！</h6>

      <div>
        <div>
          <img alt="" src="./images/1-1403121F63U31.jpg" style="width: 642px; height: 277px; "><br>
          <br>
          <strong>零二八——网络设计创导者（成都零二八广告有限公司）</strong></div>
        <div>
          www.028studio.com，一直以来，零二八依托于网络专业、专心、专志为客户提供高质网站设计建设、网站推广、域名空间服务。我们拥有感性的创意和理性的思维碰撞，拥有十足的设计经验和完善的后期服务合作模式，在零二八，我们承诺
          “设计到满意”，消除你最后一丝的顾虑。
        </div>
        <div>
          &nbsp;</div>
        <div>
          我们不用口头的语言来吹擂我们的优秀，成百上千的成功案例见证着我们的成长。2011-2013年里，零二八的成功案例已经数不胜数，09年全年年就已经突破600余个，10年上半年合作客户已跃1135位，而且取得了客户100%的好评。那上千个案例与客户是成都零二八的永远辉煌。
        </div>
        <div>
          &nbsp;</div>
        <div>
          <strong>来，我一一为你展示……http://www.028studio.com/028/cases/</strong></div>
        <div>
          &nbsp;</div>
        <div>
          <strong>零二八认为：兵不在多 在于精</strong></div>
        <div>
          &nbsp;</div>
        <div>
          成都零二八拥有七名资深设计师和一名设计总监（同样身兼零二八设计师），均是业界拥有多年专业的网站设计精英，执着的专业追求和强烈的创作激情，形成了成都零二八巨大凝聚力、向心力与战斗力，我们倾听屋外的音符，站在目标客户的角度，用设计说话，用心灵沟通，不惜牺牲昼夜，只为换取最后的喜悦。
        </div>
        <div>
          &nbsp;</div>
        <div>
          <strong>我们的优势：高度 速度 深度</strong></div>
        <div>
          &nbsp;</div>
        <div>
          高度：零二八每个设计师都拥有独特的设计灵感和敏锐的艺术嗅觉，最大化满足客户品牌诉求和视觉享受的设计需求。我们坚信，高度决定视野，我们相信我们看得到经典。
        </div>
        <div>
          &nbsp;</div>
        <div>
          速度：我们崇尚速度，喜欢感受风驰电掣的狂飙，喜欢箭在弦上不得不发的气势，所以在3-5个工作日内我们为您提供最完美的方案，成都零二八拒绝拖沓。
        </div>
        <div>
          &nbsp;</div>
        <div>
          深度：零二八拥有几年积累收集的各国大师设计数据库、资深设计师的敏锐嗅觉和厚重的设计经验，我们知道怎样帮客户进行选择，什么才是你想要的。
        </div>
        <div>
          <br>
          <br>
          <img alt="" src="./images/1-1403121FR1640.jpg" style="width: 556px; height: 167px; "><br>
          &nbsp;</div>
      </div>
    </div>
    <div class="about_r">
      <h1><img src="./images/about_05.JPG" alt="发展历程"></h1>

      <p><img src="./images/about_08.JPG" alt="发展历程"></p>
    </div>
  </div>
</article>
</body>
<%= render "comment/footer" %>