<body bgcolor="#FF6A6A">
<div class="row-fluid">
  <div class="span12 center login-header">
    <h2>注册</h2>
  </div>
  <!--/span-->
</div>
<!--/row-->

<div class="row-fluid">
  <div class="well span5 center login-box">

    <%= form_for(@main) do |f| %>
        <% if @main.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@main.errors.count, "error") %> prohibited this main from being saved:</h2>

              <ul>
                <% @main.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <fieldset>
          <div class="input-prepend" title="Username" data-rel="tooltip">
            <span class="add-on"><i class="icon-user"></i></span>
            姓名：
            <input class="big-input" id="name" name="main[name]" style="width: 100%" type="text"/>
          </div>
          <div class="clearfix"></div>

          <div class="input-prepend" title="Password" data-rel="tooltip">
            <span class="add-on"><i class="icon-lock"></i></span>
            手机：
            <input class="big-input" id="tel" name="main[tel]" style="width: 100%" type=" text"/>
          </div>
          <div class="clearfix"></div>

          <div class="input-prepend" title="Password" data-rel="tooltip">
            <span class="add-on"><i class="icon-lock"></i></span>
            住址：
            <input class="big-input" id="address" name="main[address]" style="width: 100%" type=" text"/>
          </div>
          <div class="clearfix"></div>

          <p class="center span3">
            <%= submit_tag "填写完成", :class => "btn btn-primary" %>
          </p>
        </fieldset>
    <% end %>
  </div>
  <!--/span-->
</div>
<!--/row-->
</body>

