<div id="wrapper"><!--head begin-->
  <%= render "comment/cccdaohang" %>
  <!--main begin-->
  <div id="main">
    <div id="main_bg">

      <%= render "comment/cchome" %>
      <!------------------------长春车生活------------------------------------>


      <div id="sub_right">
        <div class="content">
          <h3>联系我们</h3>
          &nbsp;<img src="/images/cccshabout/contact.jpg" width="682" height="220" alt="联系我们">
          &nbsp;
          <h4>长春车生活-长春人本地生活门户！</h4>

          <p></p>

          <p>&nbsp;&nbsp;&nbsp;&nbsp;感谢您对长春车生活门户网（www.changchunche.com）的关注，
            如果您有任何合作，请及时联系我们。</p>

          <p><b>客户服务邮箱及QQ：</b></p>

          <p>&nbsp;&nbsp;&nbsp;&nbsp;管理员邮箱：315046509@qq.com </p>

          <p>&nbsp;&nbsp;&nbsp;&nbsp;投诉邮箱：315046509@qq.com </p>

          <p>&nbsp;&nbsp;&nbsp;&nbsp;客服QQ：&nbsp;
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=315046509&amp;site=qq&amp;menu=yes">
              <img border="0" src="http://wpa.qq.com/pa?p=2:529048212:41" alt="QQ号315046509" title="点击这里联系我们"></a></p>

          <p><b>长春车生活门户广告、合作热线</b></p>

          <p>&nbsp;&nbsp;&nbsp;&nbsp;联系电话：15104419753</p>

          <p>&nbsp;&nbsp;&nbsp;&nbsp;合作邮箱：315046509@qq.com</p>

          <p>&nbsp;&nbsp;&nbsp;&nbsp;投稿邮箱：315046509@qq.com</p>
          &nbsp;
          <br>
        </div>
        <div class="tips">客服电话：15104419753 广告合作联系：张先生（15104419753）</div>
      </div>


      <!------------------------长春车生活end------------------------------------>
      <div class="clear"></div>
    </div>
  </div>
  <!--foot begin-->
  <div id="foot">
    <div class="copyright">
      <p>Copyright &#169; 2012 -
        <script language="JavaScript" type="text/JavaScript">
            var year = "";
            mydate = new Date();
            myyear = mydate.getYear();
            year = (myyear > 200) ? myyear : 1901 + myyear;
            document.write(year);
        </script>
        2015
        长春车生活网-长春人本地生活门户！<a href="http://changchunche.com/" target="_blank">长春车生活</a> All Rights Reserved.
      </p>
      <span></span></div>
  </div>
</div>
