<div id="wrapper"><!--head begin-->
  <%= render "comment/cccdaohang" %>
  <!--main begin-->
  <div id="main">
    <div id="main_bg">
      <%= render "comment/cchome" %>
      <div id="sub_right">
        <div class="content">
          <h3>关于我们</h3>
          &nbsp;
          <img src="../images/cccshabout/index.jpg" width="682" height="242" alt="招聘">
          &nbsp;
          <h4>
            <b>长春车生活网-长春人本地生活门户！</b>
          </h4>

          <p>
            目前，长春车生活网门户网正在为会员提供一个本地生活消费（柴米油盐、吃喝玩乐、衣食住行、生老病死）
            和情感问题自由交流的平台，长春车生活门户网提倡网友们互帮互助为社区发展宗旨，很快得到了广大
            长春车生活网友的热爱和支持，"有困难找长春车生活门户网"的信念已经深入长春车生活网民的心里。
          </p>

          <p>
            随着长春车生活门户网的发展，长春车生活门户网拥有了更加庞大的会员群体、更加强而有力的技术后盾、
            更加专业丰富的分类内容，更加成熟的网站运营经验，更多备受赞誉的影响事件。长春车生活门户网"关爱、
            分享、互助、交流"的网络精神影响着长春车生活年轻一代的网民。</p>

          <p>&nbsp;</p>
          <h4><b>"关爱"以网络的名义走得更远</b></h4>

          <p></p>

          <p>
            因为有了网络，热心、善良的网友们才能把爱心传播到世界的每个角落。长春车生活门户网是这样的一个平台，
            在互相不能见面的世界里，我们从陌生变得亲密，我们对社会、对生活、对弱势群体的关爱，让我们从此不再
            是毫不相关的人，我们情同手足、亲如兄弟。
          </p>

          <p>&nbsp;</p>
          <h4><b>一样的城市驻地 "分享"百样的生活风情</b></h4>

          <p></p>

          <p>
            我们呼吸同一个城市的空气，聆听同一个城市的脉搏，我们却有着各自或快乐、或悲伤、或动人的生活。
            在长春车生活门户网里我们提供这样的一个空间，我们为生活锁碎而滔滔不绝、我们为不良风气笔诛讨伐、
            我们为动人时刻热泪盈眶。百样的生活瞬间，都是人生航线中的一朵浪花，我们在为自己和他人的生活加油喝彩。
          </p>

          <p>&nbsp;</p>
          <h4><b>插上网络"互助"的翅膀飞跃孤独</b></h4>

          <p></p>

          <p>
            在长春车生活门户网上，没有人是孤独的。长春车生活门户网是这样的一个团体，在问题叠着问题的生活里，
            我们号召网友同心协力共度难关。互助之手在长春车生活网上得到了网友的力量和祝福，我们为孤寡老人、
            弱势儿童、残障群体、以及全国各地急需帮助的人士创造了一个温暖的网络世界。
          </p>

          <p>&nbsp;</p>
          <h4><b>"交流"呈现ID背后鲜活的灵魂</b></h4>

          <p></p>

          <p>
            网络的交流因为鲜活的表情变得贴近生活，而长春车生活门户网的交流因为贴近生活而变得鲜活。
            长春车生活门户网不断增长的ID用户和愈发庞大的访问IP，在每一个代表了虚拟的数字和昵称的背后，
            都有一个鲜活的人生在上演。长春车生活门户网是这样一个环境，我们吐出了自己的困惑或是成就，
            得到了互不相识的朋友的意见或祝福。我们因为靠的很近，相互满足、互换幸福。
          </p>

          <p>&nbsp;</p>
          <h4><b>关于长春车生活网门户网的未来</b></h4>

          <p></p>

          <p>
            长春车生活门户网将是我们的网络家园。我们会尽最大努力维护每个会员合理合法表达自己言论的自由。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们希望在这里，看到更多值得思考的文字。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们希望在这里，能够有更多的精神分享和交流。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们希望在这里，每个人都乐于帮助他人，并且在自己遇到问题的时候得到帮助。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们希望在这里，会员能够获得更多更新更好的实用信息。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们希望在这里，能帮助会员和商家实现更坦诚、直接的交流互动。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们希望，和大家一起，打造出长春最优秀的社区SNS。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们的第一个目标，就是要成为长春最优秀的社区SNS。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们乐于将我们的思想，经验，和更多的朋友们一起分享。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们将用我们的努力，证明人与人之间，爱和关怀，始终是最基本的情感需要。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这是我们的理想，我们的期望。 我们很有信心。因为我们相信，我们的信念，是值得我们付出一些东西的。</p>

          <p>&nbsp;</p>
          <h4><b>欢迎您融入长春车生活门户网大家庭当中！</b></h4>
        </div>
        <div class="tips">客服电话：15104419753 广告合作联系：张先生（15104419753）</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!--foot begin-->
  <div id="foot">
    <div class="copyright">
      <p>Copyright &#169; 2012 -
        <script language="JavaScript" type="text/JavaScript">
            var year = "";
            mydate = new Date();
            myyear = mydate.getYear();
            year = (myyear > 200) ? myyear : 1901 + myyear;
            document.write(year);
        </script>
        2015长春车生活网-长春人本地生活门户！
        <a href="http://changchunche.com/" target="_blank">长春车生活</a>
        All Rights Reserved.
      </p>
    </div>
  </div>
</div>
