<div id="wrapper"><!--head begin-->
  <%= render "comment/cccdaohang" %>
  <!--main begin-->
  <div id="main">
    <div id="main_bg">

      <%= render "comment/cchome" %>
      <!------------------------长春车生活------------------------------------>

      <div id="sub_right">

        <div class="content">
          <h3>诚聘英才</h3>
          &nbsp;
          <img src="/images/cccshabout/job.jpg" width="682" height="190" alt="招聘">
          &nbsp;
          <% @jobs.each do |roll| %>
              <h4>
                <%= link_to roll.title %>
              </h4>

              <p><strong>职位说明：</strong><br>
                <%= link_to roll.description.html_safe %>
              </p>

          <% end %>
          <p style="color: rgb(255, 0, 0);">岗位申请方式：有意者请您联系电话：15104419753（张先生），QQ：315046509</p>
        </div>
        <div class="tips">客服电话：15104419753 广告合作联系：张先生（15104419753）</div>
      </div>


      <!------------------------长春车生活end------------------------------------>
      <div class="clear"></div>
    </div>
  </div>
  <!--foot begin-->
  <div id="foot">
    <div class="copyright">
      <p>Copyright &#169; 2012 -
        <script language="JavaScript" type="text/JavaScript">
            var year = "";
            mydate = new Date();
            myyear = mydate.getYear();
            year = (myyear > 200) ? myyear : 1901 + myyear;
            document.write(year);
        </script>
        2015
        长春车生活网-长春人本地生活门户！<a href="http://changchunche.com/" target="_blank">长春车生活</a> All Rights Reserved.
      </p>
      <span></span></div>
  </div>
</div>
