<div id="wrapper"><!--head begin-->
  <%= render "comment/cccdaohang" %>
  <!--main begin-->
  <div id="main">
    <div id="main_bg">

      <%= render "comment/cchome" %>
      <!------------------------长春车生活------------------------------------>


      <div id="sub_right">
        <div class="content">
          <h3>合作伙伴 </h3>
          &nbsp;
          <dl>
            <span class="content1"><img src="/images/cccshabout/links.jpg" width="682" height="190" alt="合作伙伴"></span>
          </dl>
          <p>&nbsp;</p>
          <dl>
            <h3>广告投放说明，请详细阅读：</h3>

            <p><br/>
              1、广告价格单位：元/月，1个月起租<br>
              2、先付款并款到帐后开始投放广告(我们提供的支付方式基本上都是当天到帐的)！<br>
              3、不接受六合彩、邮件营销、放置木*及性*激情类的广告！不接弹窗广告！不接插件、捆绑类广告！<br>
              4、广告图片请自行准备好发至315046509@qq.com或者QQ:315046509&nbsp;<br/>
              5、本站为个人网站，投放广告不开具发票！如需发票税点需自行承担。<br>
              6、广告位租出后 不给予退同时不能更换到其它位置！广告不做测试、也不承诺多少点击和效果、能给你带来多少利润。<br>
              7、广告续费请提前一周付款!未能及时续费本站将有权利预定给其他公司！<br>
              8、广告图片必须通过我们的审核才可投放(如文件大小以及图片质量)，广告图片如为FLASH格式请勿带声音特效及鼠标移过自动弹窗特效，图片颜色变化频率不能过快，以免影响浏览者视觉！<br>
              9、广告商所做的广告如有虚假，或者有人举报为骗子或骗子公司，如广告商没办法做出有效答复或解释，本站有权利去除广告并不给予退款。<br>
              10、最重要的一条：现有的广告本站有权预定给其它公司或个人，如果您已和本站口头约定要投放某个广告位，但您没有付款，那我们也有权预定给其它公司或个人！！
            </p>
            <dt>&nbsp;</dt>
            <dt>&nbsp;</dt>
          </dl>
        </div>
        <div class="tips">客服电话：13900000000 广告合作联系：张先生（13900000000）</div>
      </div>


      <!------------------------长春车生活end------------------------------------>
      <div class="clear"></div>
    </div>
  </div>
  <!--foot begin-->
  <div id="foot">
    <div class="copyright">
      <p>Copyright &#169; 2012 -
        <script language="JavaScript" type="text/JavaScript">
            var year = "";
            mydate = new Date();
            myyear = mydate.getYear();
            year = (myyear > 200) ? myyear : 1901 + myyear;
            document.write(year);
        </script>
        2015
        长春车生活网-长春人本地生活门户！<a href="http://changchunche.com/" target="_blank">长春车生活</a> All Rights Reserved.
      </p>
      <span></span></div>
  </div>
</div>
