<div id="wrapper"><!--head begin-->
  <%= render "comment/cccdaohang" %>
  <!--main begin-->
  <div id="main">
    <div id="main_bg">

      <%= render "comment/cchome" %>
      <!------------------------长春车生活------------------------------------>


      <div id="sub_right">
        <div class="content">
          <h3>合作伙伴 </h3>
          &nbsp;
          <dl>
            <span class="content1"><img src="/images/cccshabout/links.jpg" width="682" height="190" alt="合作伙伴"></span>
          </dl>
          <p>&nbsp;</p>
          <dl>
            <% @zhaoshang.each do |zs| %>
                <h3><%= link_to zs.title %></h3>

                <p>
                  <%= link_to zs.description.html_safe %>
                </p>
                <dt>&nbsp;</dt>
                <dt>&nbsp;</dt>
            <% end %>
          </dl>
        </div>
        <div class="tips">客服电话：13900000000 广告合作联系：张先生（13900000000）</div>
      </div>


      <!------------------------长春车生活end------------------------------------>
      <div class="clear"></div>
    </div>
  </div>
  <!--foot begin-->
  <div id="foot">
    <div class="copyright">
      <p>Copyright &#169; 2012 -
        <script language="JavaScript" type="text/JavaScript">
            var year = "";
            mydate = new Date();
            myyear = mydate.getYear();
            year = (myyear > 200) ? myyear : 1901 + myyear;
            document.write(year);
        </script>
        2015
        长春车生活网-长春人本地生活门户！<a href="http://changchunche.com/" target="_blank">长春车生活</a> All Rights Reserved.
      </p>
      <span></span></div>
  </div>
</div>
