<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="./联系方式_零二八_files/联系方式_零二八.html" title="">
        <img src="./images/logo_4.png" width="127" height="128" alt=""><strong>联系方式</strong><span>CONTACT</span></a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<article>
  <div class="wrapper">
    <div class="contactleft">
      <h1 class="title_contact"><img src="./images/contact_06.gif" alt="联系方式"></h1>

      <p class="time">工作时间：周一~周六 早上8:00~下午17:00</p>

      <p class="tel">咨询热线：4008-455-789</p>

      <p class="adr">办公地址：长春市南关区吉宇大厦B座2层</p>

      <p class="adr">邮箱：admin@ccpxcm.com</p>

      <p class="qq">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=315046509&site=qq&menu=yes">
          <img border="0" src="./images/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息">
        </a>
      </p>

      <h1 class="title_contact" style="margin-top:60px;"><img src="./images/contact_14.gif" alt="联系方式"></h1>

      <div class="buslines">
        <ul>
          <li>4路 西门车站</li>
          <li>7路 西门车站</li>
          <li>11路 西门车站</li>
          <li>27路 西门车站</li>
          <li>34路 西门车站</li>
          <li>34A路 西门车站</li>
          <li>37路 西门车站</li>
          <li>56路 西门车站</li>
          <li>56A路 西门车站</li>
          <li>62路 西门车站</li>
          <li>86路 西门车站</li>
          <li>129路 西门车站</li>
          <li>221路 西门车站</li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <div id="map">
      <img src="./images/Map.jpg" width="660" height="400" alt="">
    </div>
    <div class="clear"></div>
  </div>
</article>
</body>
<%= render "comment/footer" %>