<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=gbk">
  <title>成都网络公司|成都网站设计|成都网站制作|成都网页设计公司-零二八</title>
  <meta name="description" content="成都零二八网站建设公司:专注于成都网站建设,成都网站制作,成都网站设计,成都网页制作,成都网页设计等一体化的成都网络公司.零二八以最低的价格为您提供最优质服务!">
  <meta name="keywords" content="成都网站制作,成都网站设计,成都网页设计,成都网页制作,成都网络公司,成都网站建设,成都网站建设公司,成都网站设计公司,成都网站制作公司">

  <link rel="shortcut icon" href="http://www.028studio.com/favicon.ico" type="image/x-icon">
  <!--[if lt IE 9]>
  <script type="text/javascript" src="http://www.028studio.com/templets/default/js/html5.js"></script><![endif]-->

  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "4713898", "jquery", "jquery-1" %>
</head>
<body id="index">

<div class="wrapper">
  <h1 class="logo">
    <a href="http://www.028studio.com/" title="成都网络公司"><img src="images/logo.png" alt="成都网络公司" height="60" width="214"></a>
  </h1>
  <nav>
    <ul>
      <li style="opacity: 1;" class="home hover"><a href="http://www.028studio.com/" title="成都网络公司">首页</a></li>

      <li style="opacity: 1;" class="nav1"><a href="http://www.028studio.com/028/ABOUT/" title="关于">关于</a></li>
      <li style="opacity: 1;" class="nav2"><a href="http://www.028studio.com/028/SERVICES/" title="服务">服务</a></li>
      <li style="opacity: 1;" class="nav3"><a href="http://www.028studio.com/028/CASES/" title="案例">案例</a></li>
      <li style="opacity: 1;" class="nav4"><a href="http://www.028studio.com/028/CONTACT/" title="联系方式">联系方式</a></li>
    </ul>
  </nav>
</div>

<%= yield %>

</body>
</html>
