<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:bd=http://www.baidu.com/2010/xbdml>
<!-- saved from url=(0034)http://bbs.changchunche.com/about/ -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=GBK">
  <title>关于我们
    - 镇巴门户网</title>
  <meta name="GENERATOR" content="MSHTML 9.00.8112.16457">
  <meta name="description" content="镇巴门户网-镇巴人本地生活门户！">
  <meta name="keywords" content="镇巴网,镇巴论坛,镇巴生活">
  <link rel="stylesheet" type="text/css" href="/stylesheets/cccshabout/sub.css">
  <!--[if lt IE 9]>
  <script type="text/javascript" src="http://www.028studio.com/templets/default/js/html5.js"></script>
  <![endif]-->
</head>
<body>
<%= yield %>
</body>
</html>